//variables//
$dark-violet: hsl(256, 26%, 20%)
$grayish-lue: hsl(216, 30%, 68%)
$very-dark-violet: hsl(270, 9%, 17%)
$dark-grayish-violet: hsl(273, 4%, 51%)
$very-light-gray: hsl(0, 0%, 98%)

body, html
    height: 100%
    margin: 0
    color: #ffffff
    font-family: 'Karla', serif
    font-size: 16px
    
.attribution 
    font-size: 11px 
    text-align: center
    a  
        color: hsl(228, 45%, 44%)

.container
  width: 80%
  margin: 2rem auto
  @media screen and ( max-width: 768px )
    width: 90%

a
    text-decoration: none

body
    font-family: 'Karla', serif
    font-weight: 400
    background: #2d2640
    background-repeat: no-repeat
    background-size: cover
    padding-bottom: 500px
    #left
        position: absolute 
        top: 60%
    #right
        position: absolute
        top: 0
        right: 0
        z-index: 1

//header
header
    width: 100%
    position: fixed
    top: 0
    z-index: 999
    background: #fff

    nav
        display: flex
        justify-content: space-around
        margin: 2 auto
        width: 80%

        .logo
            cursor: pointer
            img
                max-width: 100%
                height: auto
        .nav-links
            width: 60%
            display: flex
            justify-content: space-around
            align-items: center
            list-style: none
            a
                color: lighten($dark-violet, 20%)
                text-decoration: none
    






//main
.hero
    margin: 8rem 0 
    &__content
        margin-top: 5rem
        display: grid
        grid-template-columns: 50% 50%
        &--text
            
            .horizontal-line
                display: inline-block
                justify-items: center
                align-content: center
                justify-content: center
                text-align: center
                height: 1.5px
                width: 140px
                background: #fff

            h2
                font-family: 'DM Serif Display' 
                font-size: 4rem
                font-weight: 400
                line-height: 1
                margin-bottom: 1rem
            p
                margin-top: 1rem
                line-height: 1.4
            .btn
                display: inline-block
                margin-top: 1rem
                border: 1px $grayish-lue solid
                color: $grayish-lue
                padding: 10px 15px 10px 15px
            &--image
                height: 100%

        


        








//footer



@media screen and ( max-width: 375px )

    

